<style type="text/css">
    body {
        font-family: sans-serif;
        font-weight: 200;
    }

    table {
        width: 100%;
    }

    table tr td {
        border: 1px solid black;
        padding: 8px;
    }

    h1 {
        text-align: center;
    }

    .hori-line {
        width: 100%;
        height: 1px;
        border-top: solid black;
        margin-top: 2%;
    }

    h4 {
        display : inline;
    }

    a {
        margin-left: 2%;
    }
    
    .certificateRefId {
        position: absolute;
        left: 65%;
    }

    .email {
        margin-left: 16%;
    }

    .verificationAccessCode {
        float: right;
        margin-right: 10%
    }
</style>
<html>

<body>
    <div class="title">
        <h1>{{userProfile.user_full_name}}</h1>
        <div class="userProfile">
            <span class="email">Email: {{userProfile.email}}</span>
            <span class="verificationAccessCode">Access code for verification: {{userProfile.verification_access_code}}</span>
        </div>
        <div class="hori-line"></div>
    </div>
    <div class="detail">
        <h2>Certificate:</h2>

        {{#each certificateList as |cert|}}
        <h4>{{cert.certificate_name}}</h4>
        <a href={{cert.verification_link}}>({{cert.verification_link}})</a>
        <span class="certificateRefId">Certificate Id: {{cert.certificate_ref_id}}</span>
        <br />
        <p>Issue organization: {{cert.issue_organization_name}}</p>
        <p>Duration: {{cert.duration_start_date}} to {{cert.duration_end_date}}</p>
        <p>Issue date: {{cert.issue_date}}</p>
        <p>Valid until: {{cert.valid_until_date}}</p>
        <p>Description: {{cert.description}}</p>
        {{/each}}
    </div>
</body>

</html>